extends layout

block content
    header.intro-header
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    .post-heading
                        h1 #{article.title}
                        h2.subheading #{article.subtitle}
                        span.meta
                            | Posted by #{article.author}
                            |  on #{moment(article.createdAt).format('MMMM Do YYYY, h:mm:ss a')}
    article
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                   div #{article.body}