extends layout

block content
    .spacer
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                a(class='btn btn-md btn-primary' href='/manage/articles/add') New Article
                h1= title
                    small
                        span  |
                        a(href='/manage/categories')  Manage Categories
                br
                table(class='table table-striped')
                    tr
                        th Article Title
                        th Date Published
                        th Author
                        th
                            each article, i in articles
                                tr
                                    td #{article.title}
                                    td #{moment(article.createdAt).format('MMMM Do YYYY, h:mm:ss a')}
                                    td #{article.author}
                                    td
                                        a(class='btn btn-xs btn-default' href='/manage/articles/edit/#{article._id}') Edit
                != messages()